@import "../../../styles/sass/abstracts/variables.scss";

* {
    box-sizing: border-box;
}

.body-container {
    height: calc(100vh - 52px);
    background-color: $code-challenge-brand-background;
    padding: 20px;
}