<div class="code-challenge-merchant-form">
  <code-challenge-solutions-banner *ngIf=isPhone></code-challenge-solutions-banner>
  <code-challenge-business-banner *ngIf=isPhone></code-challenge-business-banner>
  <div class="code-challenge-merchant-form__container">
    <div class="code-challenge-merchant-form-header">
      <div class="code-challenge-merchant-form-header__title">
        Fill in the information
      </div>
    </div>
    <div>
      <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="childDetailsForm">
          <form [formGroup]="childDetailsForm">
            <ng-template matStepLabel>Child Details</ng-template>
            <mat-grid-list class="" [cols]="isPhone?1:2" rowHeight="10rem">

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Child name</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="childName" required>
                  <mat-error *ngIf="hasError(childDetailsForm, 'childName', 'required')">
                    Child Name is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>


              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Weight</mat-label>
                  <input matInput placeholder="Enter Weight" formControlName="weight" required>
                  <mat-error *ngIf="hasError(childDetailsForm, 'weight', 'required')">
                    Weight is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>



              <mat-grid-tile>
                <mat-form-field appearance="outline" class="date-field">
                  <mat-label>Date of birth</mat-label>
                  <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="DOB"
                    [max]="today">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Parent/Guardian Name </mat-label>
                  <input matInput placeholder="Enter Weight" formControlName="parentName" required>
                  <mat-error *ngIf="hasError(childDetailsForm, 'parentName', 'required')">
                    Parent/Guardian Name is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Relationship with child</mat-label>
                  <mat-select formControlName="relationWithChild" panelClass=""
                    (selectionChange)="onRelationWithChildChange($event)">
                    <mat-option [value]="relationWithChild.relationName"
                      *ngFor="let relationWithChild of relationWithChildData">{{relationWithChild.relationName}}</mat-option>

                  </mat-select>
                  <mat-error *ngIf="hasError(childDetailsForm, 'relationWithChild', 'required')">
                    Relationship with child is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender" panelClass="" (selectionChange)="onGenderChange($event)">
                    <mat-option [value]="gender" *ngFor="let gender of genders">{{gender}}</mat-option>

                  </mat-select>
                  <mat-error *ngIf="hasError(childDetailsForm, 'gender', 'required')">
                    Gender is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

            </mat-grid-list>
            <div class="stepper-submit-button">
              <button mat-flat-button (click)="resetChildDetails()">Reset</button>
              <button mat-flat-button color="primary" matStepperNext (click)="submitChildDetails()"
                [disabled]="!childDetailsForm.valid">Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="healthConditionForm">
          <form [formGroup]="healthConditionForm">
            <ng-template matStepLabel>Health Conditions</ng-template>


            <mat-grid-list class="" [cols]="isPhone?1:2" rowHeight="8.5rem">

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Type of illness</mat-label>
                  <mat-select formControlName="typeOfIllness" panelClass=""
                    (selectionChange)="onTypeOfIllnessChange($event)">
                    <mat-option [value]="ilness.id"
                      *ngFor="let ilness of typesOfIllnessList">{{ilness.illness_name}}</mat-option>

                  </mat-select>
                  <mat-error *ngIf="hasError(healthConditionForm, 'typeOfIllness', 'required')">
                    Type of illness is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline" class="date-field">
                  <mat-label>Illness since</mat-label>
                  <input matInput [matDatepicker]="picker1" placeholder="Illness since" formControlName="illnessSince"
                    [max]="today">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>

            <div class="chip-rows-container">


              <mat-grid-list class="" cols="1" rowHeight="8.5rem">
                <mat-grid-tile>
                  <mat-form-field class="symptoms-chip-list" appearance="outline">
                    <mat-label>Symptoms</mat-label>
                    <mat-chip-list #symptomschipList aria-label="Fruit selection">
                      <mat-chip *ngFor="let symmptom of symmptoms" (removed)="removeSymptom(symmptom)">
                        {{symmptom}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                      <input placeholder="symptom..." formControlName="symptoms" [matChipInputFor]="symptomschipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addSymptom($event)">
                    </mat-chip-list>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list class="" cols="1" rowHeight="8.5rem">
                <mat-grid-tile>
                  <mat-form-field class="symptoms-chip-list" appearance="outline">
                    <mat-label>Allergies</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                      <mat-chip *ngFor="let allergy of allergies" (removed)="removeAllergy(allergy)">
                        {{allergy}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                      <input placeholder="allergy..." formControlName="allergies" [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addAllergy($event)">
                    </mat-chip-list>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>


              <mat-grid-list class="" cols="1" rowHeight="8.5rem">
                <mat-grid-tile>
                  <mat-form-field class="symptoms-chip-list" appearance="outline">
                    <mat-label>Medications</mat-label>
                    <mat-chip-list #MedicationchipList aria-label="Fruit selection">
                      <mat-chip *ngFor="let medication of medications" (removed)="removeMedication(medication)">
                        {{medication}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                      <input placeholder="Medications..." formControlName="currentMedication"
                        [matChipInputFor]="MedicationchipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addMedication($event)">
                    </mat-chip-list>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

            </div>


            <div class="stepper-submit-button">
              <button mat-flat-button (click)="resetHealthDetailsDetails()">Reset</button>
              <button mat-flat-button matStepperPrevious>Back</button>
              <button mat-flat-button color="primary" matStepperNext (click)="healthConditionSubmit()"
                [disabled]="!healthConditionForm.valid">Next</button>
            </div>
          </form>
        </mat-step>



        <mat-step [stepControl]="ContactDeliveryForm">

          <form [formGroup]="ContactDeliveryForm">
            <ng-template matStepLabel>Contact & delivery</ng-template>


            <mat-grid-list class="" [cols]="isPhone?1:2" rowHeight="8.5rem">

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Phone number</mat-label>
                  <input matInput placeholder="Contact number" formControlName="phoneNumber" required>
                  <mat-error *ngIf="hasError(ContactDeliveryForm, 'phoneNumber', 'required')">
                    Phone number is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>


              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>email</mat-label>
                  <input matInput placeholder="Email" formControlName="email" required>
                  <mat-error *ngIf="hasError(ContactDeliveryForm, 'email', 'required')">
                    Email is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>


              <mat-grid-tile>
                <mat-form-field appearance="outline" class="date-field">
                  <mat-label>Preferred Delivery Date</mat-label>
                  <input matInput [matDatepicker]="picker2" placeholder="Delivery Date" formControlName="deliveryDate"
                    required [min]="today">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Preferred Delivery Time</mat-label>
                  <input matInput placeholder="Enter allergies" formControlName="DeliveryTime" required
                    [ngxTimepicker]="picker4">
                  <ngx-material-timepicker #picker4></ngx-material-timepicker>
                  <mat-error *ngIf="hasError(ContactDeliveryForm, 'DeliveryTime', 'required')">
                    Delivery time is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>


              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Delivery Address</mat-label>
                  <input matInput placeholder="Delivery Address" formControlName="deliveryAddress" required>
                  <mat-error *ngIf="hasError(ContactDeliveryForm, 'deliveryAddress', 'required')">
                    Delivery Address is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="Enter city" formControlName="city" required>
                  <mat-error *ngIf="hasError(ContactDeliveryForm, 'city', 'required')">
                    City is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <input matInput placeholder="Enter city" formControlName="state" required>
                  <mat-error *ngIf="hasError(ContactDeliveryForm, 'state', 'required')">
                    state is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>Postcode</mat-label>
                  <input matInput placeholder="Enter city" formControlName="postcode" required>
                  <mat-error *ngIf="hasError(ContactDeliveryForm, 'postcode', 'required')">
                    Postcode is required
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

            </mat-grid-list>
            <div class="last-stepper-content-container">
              <button mat-flat-button (click)="stepper.reset()">Reset</button>
              <button mat-flat-button matStepperPrevious>Back</button>
              <button mat-flat-button color="primary" matStepperNext (click)="submitInformation()"
                [disabled]="!ContactDeliveryForm.valid">Submit Information</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>