@import "../../../../styles/sass/abstracts/variables.scss";
@import "../../../../styles/sass/abstracts/mixins/mediaquerymanager.scss";

.code-challenge-sb-container {
    background-color: $code-challenge-color-gray-3;    
    @include respond(phone) {
        width: 100%;
        border-radius: 2rem 2rem 0rem 0rem;
        margin-bottom: 4rem;
        margin-top: -2rem;
    }

    &-grid1 {
        width: auto;
        display: flex;
        // line-height: 3.0rem;
        margin-left: 7.5%;
        padding: 1rem 0;
        p{
            font-size: 3.5rem;
            line-height: 4.5rem;
            font-weight: 900;
            color: $code-challenge-brand-blue-dark;
        }
        span{
            line-height: 2.5rem;
            color: $code-challenge-brand-blue-dark;
        }
        color: $color-black;
        @include respond(phone) {
            width: auto;
            line-height: 2.5rem;
        }
        &__leftSection {
            width: 40%;
            @include respond(phone) {
                width: 90%;
                line-height: 2.5rem;
                p{
                    font-size: 2.5rem;
                }
                span{
                    line-height: 1.5rem;
                }
            }
        }
    }
}