@import '../../styles/sass/abstracts/variables.scss';
@import "../../styles/sass/abstracts/mixins/mediaquerymanager.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.pagenotfound-container {    
    padding: 0 1.6rem;
    width: 85%;
    margin: 5rem auto;
    @include respond(phone){
        width: 90%;
    }
    &__title {
        font-size: 3rem;
        margin: 3rem 0;
        color: $color-black;
        @include respond(phone) {
            font-size: 2.5rem;
        }
    }
    &__content {
        margin: 2rem 0;
        font-size: 1.8rem;
        color: $code-challenge-body-text-gray;
    }
    &__btn {
        margin: 2rem 0;
        color: $color-white;
        background-color: $code-challenge-button-bg-color;
        padding: 0.5rem 2.5rem;
        @include respond(phone) {
            width:100%;
        }
    }
}