<code-challenge-header [searchVisible]=false></code-challenge-header>
<code-challenge-solutions-banner class="code-challenge-solution-banner"></code-challenge-solutions-banner>    
<section class="code-challenge-merchant">
    <div>
        <div class="code-challenge-merchant-layout_60">
            <code-challenge-business-banner></code-challenge-business-banner>
        </div>
        <div class="code-challenge-merchant-layout_40">
            <code-challenge-enquery-form></code-challenge-enquery-form>
        </div>
    </div>
</section>