@import "../../../../styles/sass/abstracts/variables.scss";
@import "../../../../styles/sass/abstracts/mixins/mediaquerymanager.scss";

.code-challenge-home {
    display: grid;
    @include respond(phone) {
        display: block;
    }
    &-layout_60 {
        width: 50%;
        float: left;
        @include respond(phone) {
            display: none;
        }
    }
    &-layout_success_50 {
        width: 50%;
        float: left;      
        @include respond(phone) {
            top:10rem;
            width: 100%;
            // margin: -2rem 0 3rem 0;
            float: unset;
        }
    }
    &-layout_success_40 {
        width: 50%;
        float: left;      
        @include respond(phone) {
            display: none;
        }
    }
    &-layout_error {
        width: 100%;
        // float: left;      
        @include respond(phone) {
            top:10rem;
            width: 100%;
            float: unset;
        }
    }
    &-layout_40 {
        margin: -25rem 0 3rem 0;
        width: 50%;
        float: right;
        @include respond(phone) {
            width: 100%;
            margin: -2rem 0 3rem 0;
            float: unset;
        }
    }
    &-layout_btn {
        margin: 0 0 3rem 0;
        width: 100%;
       text-align: center;
        display: inline-block;
        @include respond(phone) {
            width: 100%;
        }
        &-active_btn{
            width: auto;
            background:  $code-challenge-brand-blue-dark;
            color: $color-white;
            font-size: 2rem;
        }
        &-cancel_btn{
            width: auto;
            background: $color-red;
            color: $color-white;
            font-size: 2rem;
        }
    }
}