/**
  NOTES:
   File for real low level basic such as html, body element selectors, resets
   Partial files always start with underscore.
   DESIGN APPROACH: DESKTOP FIRST.
   This should typically contain global applicable styles.
**/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /** on each an every element the box-sizing is inherited from body element **/
}

:focus {
  outline: 0;
}

* {
  letter-spacing: 0.008em;
}

/**
  The final css file will reside inside dist folder. This file is included inside the main.scss
  All references need to be written keeping that in mind.
*/
@font-face {
  font-family: "Roboto-Black";
  font-display: swap;
  src: url("../../fonts/Roboto/Roboto-Black.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-BlackItalic";
    font-display: swap;
    src: url("../../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype"); }

@font-face {
   font-family: "Roboto-Bold";
   font-display: swap;
   src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-BoldItalic";
    font-display: swap;
    src: url("../../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-Italic";
    font-display: swap;
    src: url("../../fonts/Roboto/Roboto-Italic.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-Light";
    font-display: swap;
    src: url("../../fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-LightItalic";
    font-display: swap;
    src: url("../../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-Medium";
    font-display: swap;
    src: url("../../fonts/Roboto/Roboto-Medium.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url("../../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-Regular";
    font-display: swap;
    src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-Thin";
    font-display: swap;
    src: url("../../fonts/Roboto/Roboto-Thin.ttf") format("truetype"); }

@font-face {
    font-family: "Roboto-ThinItalic";
    font-display: swap;
    src: url("../../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype"); }

html {
  // allows to proportionately increase the size based on browser font size. defines what
  // 1 rem is.
  font-size: 62.5%; // Here 1rem = 10px; For calculation ease. 10/16 = 62.5

  // When more than one media query conditions
  // are true, the last one is applied. That is why
  // we start from the larger one. ( Keep in mind  max-width vs min-width queries).

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }

  // @include respond(tab-port) {
  //   // width < 900?
  //   font-size: 50%; //1 rem = 8px, 8/16 = 50%
  // }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16=75%
  }
}
body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: $default-font;
  font-size: 1.4rem; //14px
  font-weight: 400;
  background-color: $color-white;
  color: $color-text;
  min-height: 100vh;
  /** The following needs to looked at **/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  //   @include respond(tab-port) {
  //     padding:0;
  //   }
}

a, a:hover, a:focus {
  text-decoration: none;
  transition: $normal-speed;
  //color: $color-brand;
  color:$code-challenge-footer-txt-color;
  cursor: pointer;
}

button {
  font-size: 1.4rem; //14px
}


