<div class="code-challenge-sb-container">
    <div class="code-challenge-sb-container-grid1">
        <div class="code-challenge-sb-container-grid1__leftSection">
            <p>Get Well Basket</p>
            <span>Our treat basket is designed to brighten up the day of sick children and bring a smile to their faces. It contains a variety of delicious and healthy snacks, as well as fun activities and toys to keep them entertained during their recovery. We hope this gesture shows how much we care and wish them a speedy recovery.</span>
        </div>
    </div>
</div>