@import '../../../styles/sass/abstracts/variables';
@import '../../../styles/sass/abstracts/mixins/mediaquerymanager';
@import '../../../styles/sass/abstracts/mixins/mixins';

.code-challenge-footer {
    background: $code-challenge-footer-gray;
    font-weight: 500;
    color: $color-black;
    text-align: center;

    &--highlight {
        color: $code-challenge-footer-txt-color;
    }

    &__card {
        background: inherit;
        // font-weight: inherit;
    }

    &__content {
        p {
            padding-bottom: 1rem;
            font-size: 1.7rem;

            .mat-icon {
                height: auto;
                width: auto;
                vertical-align: middle;
                position: relative;
                top: -1px;
            }
        }

        @include code-challenge-mb-0;
    }

    &__actions {
        a {
            margin: 0 1rem;
        }

        img {
            width: 2.5rem;
        }
    }

    &--reserved {
        @include respond(phone) {
            display: block;
        }
    }

    .mat-card {
        font-family: inherit;
    }

    .mat-card-actions {
        @include code-challenge-card-center-align;
        @include code-challenge-mb-0;
    }

 
}
