<section class="code-challenge-footer">
  <mat-card class="code-challenge-footer__card">
    <mat-card-content class="code-challenge-footer__content">
      <p>
        <mat-icon>copyright</mat-icon> {{curYear}} BC <span class="code-challenge-footer--highlight">Code Challenge BC.</span> 
        <span class="code-challenge-footer--reserved">&nbsp;All Rights Reserved.</span>
      </p>
      <p>
        <span class="code-challenge-footer--highlight">
          <a href="" target="_blank" rel="noopener">Privacy policy</a> 
          | <a routerLink="" queryParamsHandling="merge" >Terms of use</a>
          | <a routerLink="" queryParamsHandling="merge">Contact us</a></span>
      </p>
    </mat-card-content>
  </mat-card>  
</section>