<div class="code-challenge-bb-container">
    <mat-grid-list cols=1  gutterSize="3rem" >
        <div class="banner-container">
            <div class="banner-container__banner-text text-animation">Congratulations!!</div>        
            <img src="{{tiles.urls}}" alt="{{tiles.text}}" style="width: 80%;">
            <div class="banner-container__count-centered ">
                <p class="succes"></p>
                <p>{{successText}}</p>
            </div>
        </div>             
    </mat-grid-list>
</div>